Source: tkl-dhcpcd-ifupdown-glue
Section: net
Priority: optional
Maintainer: KeelLinux maintainers <admin@keellinux.org>
Uploaders: Marcos Mendez <mendez.foto@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Vcs-Git: https://github.com/turnkeylinux/tkl-dhcpcd-ifupdown-glue.git
Vcs-Browser: https://github.com/turnkeylinux/tkl-dhcpcd-ifupdown-glue
Rules-Requires-Root: no

Package: tkl-dhcpcd-ifupdown-glue
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 dhcpcd-base,
 ifupdown-ng,
 ifupdown-ng-compat,
Description: Glue hooks to sync dhcpcd.conf & /etc/network/interfaces
 Provides ifupdown glue hook scripts to keep dhcpcd.conf and
 /etc/network/interfaces in sync.
 .
 If an 'auto' interface is configured as anything other than "dhcp", an
 'if-pre-up' hook dynamically adds config to /etc/dhcpcd.conf to disable
 DHCP for that interface. IPv4 and IPv6 are handled separately, so DHCP
 can be configured differently - even on the same interface.
 .
 When an interface is bought down, an 'if-post-down' hook removes all
 dynamically added /etc/dhcpcd.conf config. This ensure that the system
 should always be in a state that most users would expect.
